/* Chain the class selectors and add CSS styling rule to resizing the image, without distorting it */

.avatar.proportioned {
    width: 300px;
    height: auto;
}

/* Chain the class selectors and add CSS styling rule to distort the image */

.avatar.distorted {
    width: 200px;
    height: 100%;
}